#btn-invitation {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

#btn-invitation button {
  /* all: unset; */
  font: inherit;
  color: inherit;
  font-weight: 600;
  padding: 0.8rem 1.25rem;
  background-color: var(--color-brand-dark);
  border-radius: .5rem;
  cursor: pointer
  
}

#btn-invitation .btn-create {
  display: flex;
  align-items: center;
  gap: 0.75rem;  
}

#btn-invitation .btn-create img {
  width: 1.25rem;
  height: 1.25rem;    
}

#btn-invitation .btn-create:hover,
#btn-invitation .btn-create:focus {
  background-color: var(--color-brand-mid);
}

