#info-contact label {
  margin-top: 1rem;
}

#info-digital {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

input {

  &:invalid {
    border: 1px solid var(--color-feedback-danger);
  }
  
  &:required + .warning {

    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    gap: 0.4rem;

    font: var(--body-xs);
    color: var(--color-feedback-danger);
    margin-top: 0.5rem;
        
    & img {
      width: 1rem;
      height: 1rem;
    }
  }

  &:valid + .warning {
    display: none;
  }
}