#date-flex {
  display: flex;
  gap: 1rem;
}

.input-date {
  flex: 1;
}


input[type="date"] {
  position: relative;

  /* color: var(--color-input-placeholder); */
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

#info-flex {
  display: flex;
  gap: 1rem;
}

.input-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.input-box {
  border: 1px solid var(--color-input-stroke);
  border-radius: 0.5rem;
  display: flex;
  padding-left: 1.13rem;
  
  

  & input {
    border: none;
    color: var(--color-text-body);
    padding-left: 0.5rem;
        
    &::placeholder {
    color: var(--color-input-placeholder);
    }

    ::value {
      text-align: start;
    }    
  }

  & img {
    width: 16px;
  }

}

