#date-flex {
  display: flex;
  gap: 1rem;
}

.input-date {
  flex: 1;
}


input[type="datetime-local"] {
  position: relative;

  /* color: var(--color-input-placeholder); */
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

#info-flex {
  display: flex;
  gap: 1rem;
  
}

.input-local {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

/* Caixa dos botões */
.input-box {
  background-color: var(--color-input-base);
  border: 1px solid var(--color-input-stroke);
  border-radius: 0.5rem;

  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  max-height: 2.94rem;
  /* max-width: 80px; */
}

/* Botão estilizado */
.input-box .option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  padding: 0.60rem 1.45rem;

  flex: 1;

  border-radius: 0.25rem;
  cursor: pointer;

  background-color: var(--color-input-base);
  transition: 0.2s background-color, 0.2s font-weight;
  font: var(--body-sm);
  color: var(--color-input-placeholder);
}

/* .input-box .option img {
  width: 16px;
} */

/* Hover */
.input-box .option:hover {
  background-color: var(--color-shape-hover);
  font-weight: 600;
  color: var(--color-text-heading);

  & svg path {
    stroke: var(--color-brand-light);
  }
}

/* Botão selecionado */
.input-box input[type="radio"]:checked + .option {
  background-color: var(--color-shape-hover);
  /* border: 1px solid var(--color-primary); */
  font-weight: 600;
  color: var(--color-text-heading);

  & svg path {
    stroke: var(--color-brand-light);
  }
}

textarea {
  background-color: var(--color-input-base);
  width: 100%;
  max-height: 8.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-stroke);

  padding: 1rem;

  font: var(--body-md);
  color: var(--color-input-placeholder);
  resize: none;
}