#date-flex {
  display: flex;
  gap: 1rem;
}

.input-date {
  flex: 1;
}


input[type="date"] {
  position: relative;

  /* color: var(--color-input-placeholder); */
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

#info-flex {
  display: flex;
  gap: 1rem;
}

.input-info {
  
  display: flex;
  flex-direction: column;
  
}

.input-box {
  border: 1px solid var(--color-input-stroke);
  border-radius: 0.5rem;
  display: flex;
  width: 100%;

  & input {
    border: none;
    flex: 1;
  }

}