.radio-color {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.main-color {
  height: 40px;
  border-radius: 50%; /* deixa circular */
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-bottom: 1.75rem;
}



.main-color input[type="radio"] {
  appearance: none;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  cursor: pointer;

  border: 6px solid var(--color-shape-button);
}

.color-wrapper label {
  margin-bottom: 1rem;
}

/* Cor Principal */
#color1 {
  background-color: var(--color-brand-light);
}

#color2 {
    background-color: var(--color-accent-navy);
}

#color3 {
    background-color: var(--color-accent-puple);
}

#color4 {
    background-color: var(--color-accent-fuschia);
}

#color5 {
  background-color: var(--color-accent-pink);
}

#color6 {
  background-color: var(--color-feedback-danger);
}

#color7 {
  background-color: var(--color-accent-orange);
}

#color8 {
  background-color: var(--color-accent-yellow);
}

#color9 {
  background-color: var(--color-accent-lime);
}

#color10 {
  background-color: var(--color-accent-green);
}

#color11 {
  background-color: var(--color-accent-cyan);
}

.main-color input[type="radio"]:hover {
  border-color: var(--color-shape-hover);
}

.main-color input[type="radio"]:checked {
  outline: 2px solid var(--color-brand-light);
  outline-offset: -2px;
}
