.radio-color {
  border: 1px solid orangered;
  display: grid;
  grid-template-columns: repeat(auto-fit);
}

.main-color input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 3px solid var(--color-shape-button);

  position: relative;
}
