.radio-color {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.main-color {
  height: 40px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-bottom: 1.75rem;
}

.main-color input[type="radio"] {
  appearance: none;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  cursor: pointer;

  border: 6px solid var(--color-shape-button);
}

.color-wrapper label {
  margin-bottom: 1rem;
}

/* Cor Principal -----------------------------------*/
#color1 {
  background-color: var(--color-brand-light);
}

#color2 {
    background-color: var(--color-accent-navy);
}

#color3 {
    background-color: var(--color-accent-puple);
}

#color4 {
    background-color: var(--color-accent-fuschia);
}

#color5 {
  background-color: var(--color-accent-pink);
}

#color6 {
  background-color: var(--color-feedback-danger);
}

#color7 {
  background-color: var(--color-accent-orange);
}

#color8 {
  background-color: var(--color-accent-yellow);
}

#color9 {
  background-color: var(--color-accent-lime);
}

#color10 {
  background-color: var(--color-accent-green);
}

#color11 {
  background-color: var(--color-accent-cyan);
}

.main-color input[type="radio"]:hover {
  border-color: var(--color-shape-hover);
}

.main-color input[type="radio"]:checked {
  outline: 2px solid var(--color-brand-light);
  outline-offset: -2px;
}
/* _________________________________________ */

/* Event Theme ------------------------------*/

.radio-theme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 0.5rem;
}

.event-option {
  appearance: none;
  cursor: pointer;
  justify-content: center;
  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.25rem 0.25rem 1rem;

  border: 1px solid var(--color-input-stroke);
  border-radius: 0.5rem;
  
  
  & img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.25rem;   
  }

  & input {
    all: unset;
    inset: 0;
  }

}

.event-option input[type="radio"] {
  appearance: none;
  position: absolute;
  opacity: 0;
}

.event-option label {
  pointer-events: none;
  display: contents;
}

.event-option:hover {
  background-color: var(--color-shape-hover)
}

.event-option:has(input[type="radio"]:checked) {
  outline: 2px solid var(--color-brand-light);
  outline-offset: -2px ; 
}
/* __________________________________________ */

/* Style -------------------------------------*/

#switch {
  width: 64px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

#slide {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#switch input {
  display: none;
}

#switch .click-area {
  position: absolute;
  width: 64px;
  height: 32px;
  z-index: 5; /* fica por cima e recebe o clique */
  cursor: pointer;
}

#switch button {
  width: 24px;
  height: 24px;
  background: var(--color-input-stroke) no-repeat center;
  border: 0;
  border-radius: 50%;  

  position: absolute;
  top: 50%;
  left: 3px;
  z-index: 2;
  transform: translateY(-50%);
  transition: left 0.2s ease;

  animation: slide-back 0.3s;
  pointer-events: none;
}

#switch span {
  /* display: block; */
  width: 64px;
  height: 32px;
  background-color: var(--color-input-base);
  border: 1px solid var(--color-input-stroke);
  border-radius: 9999px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#switch .labels {
  display: flex;
  flex-direction: column;
  /* user-select: none; */

  & span {
    font: red;
  }
}

#switch input:checked + button {
  background-color: var(--color-text-heading);
  left: 36px;
}

#switch input:checked ~ span {
  transition: 0.3s;
  background-color: var(--color-brand-light);
}