/* Linha de separação */

hr {
  border: none;
  height: 1px;
  background:var(--color-shape-button);
  margin: 3rem 0;
}

/* Terms */

.terms {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;

  & strong {
    font-weight: 600;
    color: var(--color-brand-light);
  }
}

.checkbox {
  position: relative;
  
  & input[type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  .img-checkbox {
    /* border: 1px solid red; */
    flex: 0 0 1.8rem;
    height: 2rem;

    background-image: url(../../assets/icons/checkbox-default.svg);
    background-repeat: no-repeat;
    /* background-size: contain; */
  }

  &:has(:checked) .img-checkbox {
    background-image: url(../../assets/icons/checkbox-checked.svg);
  }
  
}