aside {  

  .aside-container {
    width: 25rem;
    height: 45.5rem;

    padding: 2rem;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0.75rem;    
  }

  & h1 {
    font: var(--h1);
    color: var(--color-accent-pink);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & p {
    font: var(--body-md);
    color: var(green);
  }
}

header img {
  width: 2.87rem;
}

