main {
  overflow: hidden;
}

#event-info {
  font: var(--h3);
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  & img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
  }
}

#input-forms {
  
  flex-direction: column;
  gap: 1.5rem;
}