form {
  /* margin-top: 3rem; */
}

fieldset {
  border: none;
  display: grid;
  gap: 20px;
  
}

legend {
  display: flex;
  align-items: center;
  font: var(--h3);
  margin-bottom: 1.5rem;

  & img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
  }
}

input {
  background-color: var(--color-input-base);
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-stroke);

  padding: 0.75rem 1rem;

  font: var(--body-md);  
}

label {
  display: block;
  font: var(--body-sm);
  color: var(--color-text-body);

  margin-bottom: 0.25rem;
  
}