/* form {
  margin-top: 3rem;
} */

fieldset {
  border: none;
  display: grid;
  gap: 1.5rem; 
}

legend {
  display: flex;
  align-items: center;
  font: var(--h3);
  margin-bottom: 1.5rem;

  & img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
  }
}

input {
  background-color: var(--color-input-base);
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-stroke);

  padding: 0.75rem 1rem;

  font: var(--body-md);
  color: var(--color-input-placeholder);
}

label {
  
  font: var(--body-sm);
  color: var(--color-text-body);

  display: block;
  margin-bottom: 0.75rem;
  
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-brand-light);
  /* Safari */
  outline-offset: 0.1px;
}